<input [value]="digitou"><br>
<button (click)="botaoClick('+')">+</button>
<button (click)="botaoClick('-')">-</button>
<button (click)="botaoClick('*')">*</button>
<button (click)="botaoClick('/')">/</button><br>
<button (click)="botaoClick(1)">1</button>
<button (click)="botaoClick(2)">2</button>
<button (click)="botaoClick(3)">3</button>
<button (click)="botaoClick('C')">C</button><br>
<button (click)="botaoClick(4)">4</button>
<button (click)="botaoClick(5)">5</button>
<button (click)="botaoClick(6)">6</button>
<button (click)="botaoClick('CE')" style="font-size: 10px;">CE</button><br>
<button (click)="botaoClick(7)">7</button>
<button (click)="botaoClick(8)">8</button>
<button (click)="botaoClick(9)">9</button>
<button (click)="botaoClick('=')">=</button><br>
<button (click)="botaoClick(0)" style="width: 70px;">0</button><br>



<style>
  button{
    height: 22px; 
    width: 22px;
  }
</style>




